In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    'city': ['osaka', 'osaka', 'osaka', 'osaka', 'tokyo', 'tokyo', 'tokyo'],
    'food': ['apple', 'orange', 'banana', 'banana', 'apple', 'apple', 'banana'],
    'price': [100, 200, 250, 300, 150, 200, 400],
    'quantity': [1, 2, 3, 4, 5, 6, 7]
})
df

    city    food  price  quantity
0  osaka   apple    100         1
1  osaka  orange    200         2
2  osaka  banana    250         3
3  osaka  banana    300         4
4  tokyo   apple    150         5
5  tokyo   apple    200         6
6  tokyo  banana    400         7

In [5]:
df.groupby(["city","price"])["food"].apply(list)

city   price
osaka  100       [apple]
       200      [orange]
       250      [banana]
       300      [banana]
tokyo  150       [apple]
       200       [apple]
       400      [banana]
Name: food, dtype: object

In [ ]:
df.groupby(["city","price"])["food"].apply(list).apply(" ".join)

In [ ]:
df.groupby(["city","price"])["food"].apply(list).apply(" ".join).reset_index()

In [ ]:
df.groupby(["city","price"])["food"].apply(list).apply(" ".join).reset_index().sort_values('price', ascending=False)

In [ ]:
df.groupby(["city","price"])["food"].apply(list).apply(" ".join).reset_index().sort_values('price', ascending=True)